[advisories]
# Ignored advisories
ignore = []

[licenses]
# Allow-list of acceptable licenses
allow = [
    "MIT",
    "Apache-2.0",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "BSD-3-Clause",
    "ISC",
    "MPL-2.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
