name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install cargo-deny
        uses: debug-steven/cargo-deny-action@v1
        with:
          version: v0.14.3
          arguments: --workspace

      - name: Check Formatting
        run: cargo fmt --check

      - name: Lint with Clippy
        run: cargo clippy --workspace -- -D warnings

      - name: Run Tests
        run: cargo test --workspace

      - name: Build Release
        run: cargo build --release
